.HomeElementsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.HomeElement {
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #1a1a1a;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    flex: 1 0 calc(33.33% - 20px);
}

.GoodMorning {
    min-width: 200px;
    max-width: 50%;

}

.Reminder {
    min-width: 200px;
    max-width: 50%;

    h2 {
        color: rgba(255, 41, 41, 1);

    }
}

@media (max-width: 767px) {
    .HomeElement {
        max-width: 100%;
        min-width: stretch;
    }
}