/* Updated styles for vertical navbar with full-height background */

nav.DashboardNavBar {
    background-color: #00559d;
    height: 100%; /* Set height to 100% of the viewport height */
  }
  
  .DashboardNavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .DashboardNavBar li {
    /* Remove float to stack items vertically */
    /* float: left; */
    display: block; /* Display items as block elements */
  }

  .DashboardNavElement{
    display:inline-flex;
  }
  
  .DashboardNavBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    .DashboardNavBar li a {
      font-size: 14px;
      padding: 7px 7px;
    }
  }
  
  .DashboardNavBar li a:hover {
    background-color: #054b88;
  }

  .DashboardNavElement {
    font-size: 20px;
    text-align: center;
  }