/*** TicketEditor Styles ***/
.TicketEditor * {
  box-sizing: border-box;
}

.TicketEditorHeader {
  display: flex;
  flex-direction: row;
}

.TicketEditorHeader h2 {
  align-self: flex-start; /* Damit der Titel links ausgerichtet ist */
}

.TicketButton.back {
  margin-left: auto; /* Der Button wird ganz rechts platziert */
  border-color: #333;
}

.TicketButton.back span {
  rotate: 180deg;
}

.TicketStateLabel {
  display: inline-flex;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid;
  border-radius: 10px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-20 {
  -ms-flex: 20%;
  flex: 20%;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-40 {
  -ms-flex: 40%;
  flex: 40%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-100 {
  -ms-flex: 100%;
  flex: 100%;
}

.col-20,
.col-25,
.col-40,
.col-50,
.col-100 {
  padding: 0 16px;
}

.TicketEditor input,
.TicketEditor textarea {
  width: 100%;
  resize: none;
  margin-bottom: 15px;
  color: #fefefe;
  background-color: #1a1a1a;
  padding: 0.7rem;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
}

.TicketEditor textarea {
  height: 25rem;
}

.TicketEditor select {
  padding: 0.4rem;
  background-color: #333;
  color: #fefefe;
  font-size: 17px;
  border: 2px solid #333;
  border-radius: 10px;
}

.TicketLabel {
  margin-bottom: 10px;
  display: block;
}

.TicketLocationLabelBox {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.TicketButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 0px;
  margin-left: -10px;
  margin-top: -10px;
}

/* Button Styles */
.TicketButton {
  transition: 250ms;
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-radius: 10px;
  padding: 0.4rem;
  border: 2px solid #9e9e9e;
  color: #9e9e9e;
  background-color: transparent;
  cursor: pointer;
}

.TicketButton.save:hover {
  transition: 250ms;
  color: #fefefe;
  background-color: #28a745;
}

.TicketButton.cancel:hover {
  transition: 150ms;
  color: #fefefe;
  background-color: #007bff;
}

.TicketButton.delete:hover {
  transition: 150ms;
  color: #fefefe;
  background-color: #dc3545;
}

.TicketButton.back:hover {
  transition: 150ms;
  color: #fefefe;
  border-color: #9e9e9e;
}

/* LocationLabel Styles */

.LocationContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.TicketLocationLabel {
  display: inline-flex;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem;
  border: 2px solid #9e9e9e;
  border-radius: 10px;
}

.TicketLocationText {
  margin-right: 4px;
}

.TicketLocationLabel + .TicketLocationLabel {
  margin-left: 4px;
}

.TicketLocationLabel .material-symbols-outlined {
  cursor: pointer;
}

/* MediaScreen Styles */
@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }

  .TicketButton {
    margin-bottom: 5px;
  }

  .col-20,
  .col-25,
  .col-40,
  .col-50 {
    margin-bottom: 20px;
  }

  .TicketButtonText {
    display: none;
  }
  .TicketButtonContainer {
    flex-direction: row;
  }

  .TicketTable,
  .EmployeeTable {
    font-size: 0.8rem;
  }

  .ticket-title,
  .users-email {
    max-width: 10ch; /* Begrenze die Breite auf 10 Zeichen */
    white-space: nowrap; /* Verhindere Zeilenumbrüche */
    overflow: hidden; /* Verstecke den überschüssigen Text */
    text-overflow: ellipsis; /* Füge Auslassungspunkte hinzu */
  }

  .TicketStateLabel {
    margin-right: -0.8rem;
  }
}

/*** TicketTable ***/
.TicketTable {
  margin-top: 2rem;
  width: stretch;
  border-collapse: collapse;
  white-space: nowrap;
}

/* TicketRow Styles */
.TicketTitleRow {
  font-weight: bold;
  text-align: center;
}

.TicketRow {
  border: 1px solid #333;
  border-left: none;
  border-right: none;
  text-align: left;
}

.TicketRow:first-child {
  border-top: none;
}

.TicketRow:last-child {
  border-bottom: none;
}

.TicketRow td {
  padding: 0.4rem;
}

.TicketRow .toggleicon {
  transform: rotate(90deg);
  transition: transform 0.4s ease;
}

.TicketRow.open .toggleicon {
  transform: rotate(0deg);
}

.Locations {
  padding-right: 0.6rem;
}

.Locations:last-child {
  padding-right: 0;
}

/* TicketRow Expanded Styles */
.TicketRow.open {
  border-bottom: none;
}

.TicketExpandedContent {
  display: flex;
  flex-direction: row;
}

.TicketDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0.4rem 0;
  padding: 0.4rem;
  border: 2px solid #333;
  border-radius: 10px;
}

.TicketDataContainer textarea {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: #fefefe;
}

.TicketExpandedContent .TicketButtonsContainer {
  display: flex;
  flex-direction: column;
  margin: 0.4rem 0;
}

.TicketExpandedContent .TicketButton {
  width: stretch;
  margin-bottom: 0.4rem;
}

.TicketButtonText {
  margin-left: 10px;
}
