.RoleLabel {
  display: inline-flex;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
  /* Added padding for better spacing */
  border: 1px solid;
  /* Strong border color (green) */
  border-radius: 10px;
}

.PermissionBox {
  display: inline-flex;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem;
  border: 1px solid red;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.3);
}

.PermissionText {
  margin-right: 4px;
  /* Space between text and icon */
}

.SelectedPermissionBox {
  border-width: 2px;
  font-weight: bold;
}

.PermissionBox span {
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
}

.UserEmail {
  cursor: pointer;
}

.PermissionUserContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.on-mobile {
  display: none;
}

@media (max-width: 900px) {
  .on-mobile {
    display: flex;
  }

  .permission_icon {
    font-size: 1rem;
    margin-left: 6px;
    margin-right: 2px;
  }
}
