nav.MainNavBar {
  background-color: #00559d;
}

.MainNavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.MainNavBar li {
  float: left;
}

.MainNavBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .MainNavBar li a {
    font-size: 14px;
    padding: 7px 7px;
  }
}

.MainNavBar li a:hover {
  background-color: #054b88;
}

.MainNavBar li.Login {
  float: right;
}
