.PlaningContainer {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
}

.MonthSelectorContainer {
  margin: 10px 0px;
}

.MonthSelectorContainer label {
  font-size: 16px;
  margin-right: 10px;
}

.MonthSelectorContainer select {
  padding: 4px;
  background-color: #333;
  color: #fefefe;
  font-size: 14px;
  border: 2px solid #333;
  border-radius: 3px;
}

.PlanSettings {
  /* Hier können zusätzliche Styles für PlanSettings hinzugefügt werden, falls erforderlich */
}

.CreateShiftTable {
  /* Hier können zusätzliche Styles für CreateShiftTable hinzugefügt werden, falls erforderlich */
  
}

.HeaderRow td {
  padding-top: 20px;
  font-weight: bold;
}

.JobTypeLabel {
  border: 2px solid #333;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 6px;
  min-width: 50px;
}

.SelectedJobType {
  border: 2px solid #fefefe;
}

.NameLabel {
  padding-right: 20px;
}

.DayLabel {
  text-align: center;
}

.ShiftDayLabel {
  min-width: 45px; /* Hier die gewünschte Breite festlegen */

  padding: 6px 12px;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}
