nav.NavBarMain {
    background-color: #00559d;
  }
  
  .NavBarMain ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .NavBarMain li .NavElement{
    float: left;
  }
  
  .NavBarMain li .NavElement{
    display: flex;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  @media (max-width: 900px) {
    .NavBarMain li .NavElement {
      font-size: 0.9rem;
      padding: 0.9rem;
    }
  }
  
  .NavBarMain li .NavElement:hover{
    background-color: #054b88;
  }
  
  .NavBarMain li.Login {
    float: right;
  }
  

  /* Do rework here!!!!!!!!!!! */