/* AddEmployee */

.AddEmployeeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.4rem 0;
  overflow: hidden;
  max-height: 0;
  /* transition: max-height 0.6s ease-out; */
}

.AddEmployeeContainer.open {
  border: 2px solid #333;
  border-radius: 10px;
  max-height: 1000px;
}


.DataContainer {
  margin: 1rem;
}

/* Employee Row */

.EmployeeTable {
  margin-top: 2rem;
  width: stretch;
  border-collapse: collapse;
  white-space: nowrap;
}

.EmployeeTitleRow {
  font-weight: bold;
  text-align: center;
}

.EmployeeRow {
  border: 1px solid #333;
  border-left: none;
  border-right: none;
  text-align: left;
}

.EmployeeRow:first-child {
  border-top: none;
}

.EmployeeRow:last-child {
  border-bottom: none;
}

.EmployeeRow.open {
  border-bottom: none;
}

.EmployeeRow td{
  padding: 0.4rem;
}

.EmployeeLink {
  text-decoration: none;
  color: #fefefe;
}

/* Employee Detaildata */
.EmployeeDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.4rem 0;
  padding: 0.4rem;
  border: 2px solid #333;
  border-radius: 10px;
}

.EmployeeRow .toggleicon {
  transform: rotate(90deg);
  transition: transform 0.4s ease;
}

.EmployeeRow.open .toggleicon {
  transform: rotate(0deg);
}

@media (max-width: 400px) {
  .non-mobile {
    display: none;
  }

  .EmployeeTable{
    font-size: 0.9rem;
  }
}