/* AddEmployee */

.AddEmployeeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.4rem 0;
  overflow: hidden;
  max-height: 0;
  /* transition: max-height 0.6s ease-out; */
}

.AddEmployeeContainer.open {
  border: 2px solid #333;
  border-radius: 10px;
  max-height: 1000px;
}

.AddEmployeeForm {
}

.DataContainer {
  margin: 1rem;
}

.DataContainer input,
.DataContainer select {
}

.AddLabel {
}

/* Employee Row */

.EmployeeTable {
  margin-top: 2rem;
  width: stretch;
  border-collapse: collapse;
}

.EmployeeTitleRow {
  font-weight: bold;
  text-align: center;
}

.EmployeeRow {
  border: 1px solid #333;
  border-left: none;
  border-right: none;
  text-align: left;
}

.EmployeeRow:first-child {
  border-top: none;
}

.EmployeeRow:last-child {
  border-bottom: none;
}

.EmployeeRow.open {
  border-bottom: none;
}

.EmployeeRow td,
.EmployeeRow th {
  padding: 0.5rem;
}

.EmployeeLink {
  text-decoration: none;
  color: #fefefe;
}

/* Employee Detaildata */

.EmployeeDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.4rem 0;
  padding: 0.4rem;
  border: 2px solid #333;
  border-radius: 10px;
}


.TicketDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.4rem 0;
  padding: 0.4rem;
  border: 2px solid #333;
  border-radius: 10px;

}

.TicketDataContainer textarea{
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: #fefefe;
}