.dashboard-container {
  display: flex;
}
/* .nav-container{

  } */

.main-content {
  flex-grow: 1;
}

/* Dashboard header incl. Searchbar */
.DashboardContendBox {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
}

.SearchbarContainer {
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
}

.Searchbar {
  flex: 1;
  color: #fefefe;
  background-color: #1a1a1a;
  padding: 0.5rem;
  border: 2px solid #333;
  border-radius: 10px;
}

.SearchBarButtonEnd {
  text-decoration: none;
  color: #fefefe;
  margin-left: 1rem; /* Adjust the margin as needed */
}

@media (max-width: 400px) {

  .DashboardContendBox {
    margin: 5px;
    padding: 10px;
    
  }
}