nav.DashboardNavBar {
    margin: 10px;
    /* padding: 15px; */
    /* border: 2px solid #ddd;
    border-radius: 10px; */
  }
  
  .DashboardNavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .DashboardNavBar li {
    text-decoration: none;
  }
  
  .DashboardNavElement {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
    padding: 10px;
    text-decoration: none;
    border: 2px solid #333; /* Light gray border */
    border-radius: 10px;
  }
  
  .DashboardNavElement {
    text-decoration: none;
    color: white;
  }
  
  .material-symbols-outlined {
    margin-right: 10px;
  }
  
  .DashboardNavElement:hover {
    border-color: #ddd;
  }
  
  .DashboardNavElement.active {
    background-color: #f0f0f0;
    color: #1a1a1a;
  }
  